<extend name="install/layout"/>
<block name="content">
    <div class="page-header">
        <h3 style="text-align:center">安装完成</h3>
        <p class="text-center text-success">恭喜您!已成功安装 “{$title}V{$version_name}” 系统，您现在可以:</p>
    </div>
    <div class="text-center">
        <a target="_self" class="btn btn-success" href="__ROOT__">访问网站首页</a>
        <a target="_self" class="btn btn-success" href="__ROOT__admin">访问网站后台</a>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</block>